<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.amfoss.templeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".income.addDonation.ConfirmDetailsDonationActivity"></activity>
        <activity android:name=".settings.SettingsActivity"></activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="TempleApp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home.LoginActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".income.addDonation.AddDonationActivity"
            android:configChanges="orientation"
            android:label="Add donation"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".poojas.addPooja.ConfirmDetailsPoojaActivity"
            android:configChanges="orientation|screenSize"
            android:label="Confirm details"
            android:parentActivityName=".poojas.addPooja.AddPoojaActivity" />
        <activity
            android:name=".poojas.addPooja.AddPoojaActivity"
            android:configChanges="orientation"
            android:label="Add Pooja"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".expenses.addExpense.AddExpenseActivity"
            android:configChanges="orientation"
            android:label="Add Expense"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".expenses.addExpense.ConfirmDetailsExpenseActivity"
            android:configChanges="orientation|screenSize"
            android:label="Confirm Expense details"
            android:parentActivityName=".expenses.addExpense.AddExpenseActivity" />
    </application>

</manifest>