<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.amfoss.templeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"></activity>
        <activity
            android:name=".ui.main.HomeActivity"
            android:label="TempleApp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.LoginActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InsertData"
            android:configChanges="orientation|screenSize"
            android:label="Register New pooja"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.UpdateData"
            android:configChanges="orientation|screenSize"
            android:label="Update Registered Pooja"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ReadSingleData"
            android:configChanges="orientation|screenSize"
            android:label="Search ID"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.DeleteData"
            android:configChanges="orientation|screenSize"
            android:label="Delete Registered Pooja"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ReadAllData"
            android:configChanges="orientation|screenSize"
            android:label="Read all"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".ui.main.AddDonation"
            android:configChanges="orientation|screenSize"
            android:label="Add donation"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".ui.main.ConfirmDetails"
            android:configChanges="orientation|screenSize"
            android:label="Confirm details"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".ui.main.AddPooja"
            android:configChanges="orientation|screenSize"
            android:label="Add Pooja"
            android:parentActivityName=".activities.MainActivity" />
    </application>

</manifest>